@model List<Aryarajsinh_0516_Model.ViewModel.ProductModels>
@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_LayoutPage1Supplier.cshtml";
}

<div class="container mt-4">
    <h2>Product List</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.ProductDescription</td>
                        <td>@item.ProductType</td>
                        <td>@item.Quantity</td>
                        <td>@item.price</td>
                        <td>
                            @if (item.Added == "0")
                            {
                                <a href="~/Supplier/AddToCart?ProductId=@item.ProductId" class="btn btn-outline-info">Add To Cart</a>
                            }
                            else
                            {
                                <button class="btn btn-success">Already Added</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
